.DS_Store
sftp-config.json
*.o
*.exe
*.dmg
*.app
visual_project
alvey_explorer
*/binary_search/binary_search
*/encryption/encryption
*/game_of_pig/game_of_pig
*/hang_man/hang_man
*/mad_lib_game/mad_lib_game